<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title test
        script(src="bundle.js")
    body
        h1 simple pug
        p hello there #[span i am happy] to meet you
                      